.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #0A0B0D;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-contenedor {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo {
  font-size: 3rem;
  font-weight: bolder;
  color: aliceblue;
  margin: 0;
}

hr {
  width: 50%;
  margin: 15px;
}

.recurso {
  font-size: 1.5rem;
  font-weight: bolder;
  color: aliceblue;
  margin: 0;
}

.contenedor-calculadora {
  width:max-content;
  height: fit-content;
  padding: 4em;
  background-color:#B9B4D9;
  border-radius: 2rem;

}

.fila {
  margin: 0.1em;
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  justify-content: center;
}